.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #1a1a1a;
  row-gap: 20px;
}

.info {
  text-align: left;
  font-size: 18px;
}

.link {
  color: #1a1a1a;
}

.btn {
  width: fit-content;
}